@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: rgb(240, 240, 240);
  font-size: 35px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e7d4ab;
}

.header {
  padding: 10px;
}

.departure {
  background-color: rgb(6, 6, 6);
  border-radius: 10px;
  padding: 10px;
}

.departure table {
  background-color: rgb(46, 46, 46);
  text-align: left;
}

.departure table div {
  border: solid 4px rgb(26, 26, 26);
  background-color: rgb(0, 0, 0);
  float: left;
}

#time {
  width: 200px;
}

#destination {
  width: 200px;
}

#flight {
  width: 200px;
}

#gate {
  width: 200px;
}

#remarks {
  width: 230px;
}

#time {
  width: 200px;
}

.flip {
  animation: flipping 0.5s linear;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}